body {
  background-color: #232323;
  margin: 0;
  font-family: "Avenir";
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

.square {
    border-radius: 25px;
    width: 30%;
    margin: 1.66%;
    float: left;
    padding-bottom: 30%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

h1 {
  color: white;
  text-align: center;
  font-weight: normal;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
}

#nav {
  background: white;
  height: 30px;
  text-align: center;
}

#response {
  display: inline-block;
  width: 20%;
}

.selected {
  color: white;
  background: steelblue;
}

#container {
  padding: 20px 0;
}

#RGB {
  font-size: 200%;
}

button {
  font-family: "Avenir";
  text-transform: uppercase;
  border: none;
  background: none;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover {
  color: white;
  background: steelblue;
}
